
  <div class="border-bottom">
    <div class="d-flex justify-content-between">
      <div class="col-2 user-name">
        <div class="text-center col-12">
          <%= link_to current_user.name, edit_user_path(current_user), class:'link-btn-user col-11 bi bi-person-circle'%>
        </div>
      </div>
      <div class="col-10 bg-secondary d-flex justify-content-end">
          <div class="float-start ">
            <%= link_to ' ログアウト', destroy_user_session_path, method: :delete ,class:'link-btn bi bi-person-lines-fill' %>
          </div>
      </div>
    </div>
  </div>


<div class="bottom-content">
  <div class="channel-box col-2">
    <div class= "channel-list" >
      <div class= "channel-item">
        <div class="channel-list-name">
          <%= link_to ' チャンネル作成', new_channel_path, method: :get , class:'new-channel bi bi-plus-square-fill me1 col-12' %>
        </div>
        <div class="channel-table">
          <div class="channel-names">
            <% current_user.channels.each do |channel| %>
                <%= link_to channel.channel_name,channel_works_path(channel) , class:'list-group-item col-11', tabindex:'-1' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
